/* Code Block Styles */
/* https://helpx.adobe.com/fi/dreamweaver/using/customize-code-coloring.html#customize-code-color-examples */
/* https://help.adobe.com/en_US/dreamweaver/TokenInspector/CM-Modes-Interactive/demo/TokenInspector.html */
/* https://github.com/nordtheme/nord/blob/develop/src/nord.css */

@charset "UTF-8";

/** code highlight */
.cm-s-inner .cm-atom {
  color: #ebcb8b;
}

.cm-s-inner .cm-attribute {
  color: #2e3440;
}

.cm-s-inner .cm-bracket {
  color: #ebcb8b;
}

.cm-s-inner .cm-builtin {
  color: #d08770;
}

.cm-s-inner .cm-comment {
  color: #4c566a;
}

.cm-s-inner .cm-def {
  color: #88c0d0;
}

.cm-s-inner .cm-error {
  color: #bf616a;
}

.cm-s-inner .cm-keyword {
  color: #81a1c1;
}

.cm-s-inner .cm-meta {
  color: #5e81ac;
}

.cm-s-inner .cm-number {
  color: #b48ead;
}

.cm-s-inner .cm-operator {
  color: #81a1c1;
}

.cm-s-inner .cm-property {
  color: #2e3440;
}

.cm-s-inner .cm-qualifier {
  color: #5e81ac;
}

.cm-s-inner .cm-string {
  color: #a3be8c;
}

.cm-s-inner .cm-string-2 {
  color: #a3be8c;
}

.cm-s-inner .cm-tag {
  color: #8fbcbb;
}

.cm-s-inner .cm-variable {
  color: #88c0d0;
}

.cm-s-inner .cm-variable-2 {
  color: #88c0d0;
}

.cm-s-inner .cm-variable-3 {
  color: #81a1c1;
}

.cm-s-inner .cm-punctuation {
  color: #81a1c1;
}

.cm-s-inner .cm-quote {
  color: #88c0d0;
}

.cm-s-inner .cm-link {
  color: #88c0d0;
}
