/*
 * Font-face for TypeLatin, Source Han Serif CN and JetBrains Mono
 */

@charset "UTF-8";

@font-face {
  font-family: "TypeLatin";
  src: url("./Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "TypeCJK";
  src: url("./LXGWWenKai-Regular.ttf");
}

@font-face {
  font-family: "TypeMono";
  src: url("./CascadiaMonoPL.ttf");
}
